:root {
    --basic-black: rgb(0, 0, 0);
    --black-medium: rgb(35, 31, 32); /* logo html academy */
    --black-light: rgb(51, 51, 51);
    --opacity-black: rgba(0, 0, 0, 0.3);
    --basic-white: rgb(255, 255, 255);
    --opacity-white: rgba(255, 255, 255, 0.3);
    --background-gray: rgb(242, 242, 242);
    --background-footer: rgba(255, 255, 255, 0.9);
    --gray-medium: rgb(169, 169, 169); /* иконка календаря */
    --gray-light: rgb(238, 238, 238);
    --blue-light: rgb(190, 216, 232);
    --blue: rgb(129, 179, 210);
    --blue-medium: rgb(102, 158, 192);
    --blue-dark: rgb(84, 150, 189);
    --brown: rgb(118, 99, 87);
    --brown-medium: rgb(96, 78, 67);
    --brown-dark: rgb(80, 62, 51);
    --active-footer-logo: rgb(189, 187, 188);
}

body {
    margin: 0;	
    padding: 0;
    

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;

    color: var(--black-light);
    background-color: var(--background-gray);
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

.list {
    list-style: none;
}

.page-catalog {
    width: 100%;
    height: 100vh;
    
    backdrop-filter: blur(10px);
    background-position: top -210px center;
}

.main-navigation {
    line-height: 26px;
    font-weight: 700;
    background-color: var(--basic-white);
}

.clicking:hover,
.clicking:focus {
    color: var(--blue);
}

.clicking:active {
    color: var(--opacity-black);
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    background-color: var(--basic-white);
    -webkit-box-shadow: 2px 8px 12px 5px rgba(41, 45, 50, 0.29);
    -moz-box-shadow:    2px 8px 12px 5px rgba(41, 45, 50, 0.29);
    box-shadow:         2px 8px 12px 5px rgba(41, 45, 50, 0.29); 
}

.welcome-slogan {
    background-color: var(--blue-light);
    background-image: url(../img/background.jpg);
}

.advantage-text {
    line-height: 26px;
}

.advantage-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.advantage-item {
    background-color: var(--gray-light);
}

.blue-block {
    color: var(--basic-white);
    background-color: var(--blue);
}

.advantage-item h3 {
    font-size: 21px;
    font-weight: 700;
}

.possibility-list {
    color: var(--black-light);
    background-color: var(--basic-white);
}

.hotel-search p {
    line-height: 24px;
}

.hotel-search-title {
    font-size: 30px;
    font-weight: 700;
}

.hotel-search-button,
.reservation-button {
    color: var(--basic-white);
    background-color: var(--brown);
}

.hotel-search-button:hover,
.hotel-search-button:focus,
.reservation-button:hover,
.reservation-button:focus {
    background-color: var(--brown-medium);
}

.hotel-search-button:active,
.reservation-button:active {
    color: var(--opacity-white);
    background-color: var(--brown-dark);
}

.map {
    height: 594px;
    background-image: url(../img/map.jpg);
}

.main-footer {
    background-color: var(--background-footer);
}

.footer-copyright-link {
    fill: var(--black-medium);
}

.footer-copyright-link:hover,
.footer-copyright-link:focus {
    fill: var(--blue);
}

.footer-copyright-link:active {
    fill: var(--active-footer-logo);
}

/* catalog */
.hotel-filter {
    height: 217px;
    background-color: var(--blue);
    background-image: url(../img/background2.jpg);
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

.sort-filter-results {
    font-size: 21px;
    line-height: 26px; 
    font-weight: 700;
    color: var(--basic-black); 
}

.sort-filter-text {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black); 
}

.sort-filter a {
    font-size: 12px;
    line-height: 18px;
    color: var(--opacity-black);
}

.sort-filter a:hover,
.sort-filter a:focus {
    color: var(--blue);
}

.sort-filter a:active {
    color: var(--basic-black);
}

.result-search-item {
    font-size: 14px;
    line-height: 21px;
}

.result-search-item h3{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.detailed-link {
    color: var(--basic-white);
    background-color: var(--blue);
}

.detailed-link:hover,
.detailed-link:focus {
    background-color: var(--blue-medium);
}

.detailed-link:active {
    color: var(--opacity-white);
    background-color: var(--blue-dark);
}
