:root {
    --basic-black: rgb(0, 0, 0);
    --black-medium: rgb(35, 31, 32); /* logo html academy */
    --black-light: rgb(51, 51, 51);
    --black-neutral: rgb(102, 102, 102);
    --opacity-black: rgba(0, 0, 0, 0.3);

    --basic-white: rgb(255, 255, 255);
    --opacity-white: rgba(255, 255, 255, 0.3);

    --background-gray: hsl(0, 0%, 95%);
    --background-footer: rgba(255, 255, 255, 0.9);
    --gray-medium: rgb(169, 169, 169); /* иконка календаря */
    --gray-light: rgb(238, 238, 238);

    --blue-light: rgb(190, 216, 232);
    --blue: rgb(129, 179, 210);
    --blue-medium: rgb(102, 158, 192);
    --blue-dark: rgb(84, 150, 189);

    --brown: rgb(118, 99, 87);
    --brown-medium: rgb(96, 78, 67);
    --brown-dark: rgb(80, 62, 51);

    --active-footer-logo: rgb(189, 187, 188);
}

body {
    margin: 0;	
    padding: 0;
    

    font-family: 'PT Sans', 'Arial', sans-serif;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;

    color: var(--black-light);
    background-color: var(--background-gray);
}

a {
    text-decoration: none;
    color: var(--basic-black);
}

img {
    max-width: 100%;
    height: auto;
}

/* grid -------------------------------------------- */
.advantage-list {
    margin-top: 126px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px 330px 256px 256px;
}

.advantage-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.advantage-item:first-child,
.advantage-item:nth-child(2) {
    grid-column-start: 1;
    grid-column-end: 4;
}

.advantage-item:nth-child(2) {
    grid-row-start: 3;
    grid-row-end: 4;
}

.advantage-item:nth-child(3),
.advantage-item:nth-child(4),
.advantage-item:last-child {
    grid-row-start: 4;
    grid-row-end: 5;
}

.wrapper-advantage-item {
    float: left;
    width: 400px;
}

.advantage-item img {
    float: right;
}

.possibility-list {
    display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 256px;
}

.possibility-item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
/* grid --------------------------------------------*/

.page {
    height: 100%;
}

.list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.visually-hidden {
    display: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-rows: min-content 1fr min-content;

    background-color: var(--basic-white);
    box-shadow: 2px 8px 12px 5px rgba(41, 45, 50, 0.29); 
}

.main-header {
    position: relative;
}

.main-navigation {
    line-height: 26px;
    font-weight: 700;
    background-color: var(--basic-white);
}

.main-logo {
    position: absolute;
    left: 50%;
    top: 0;
    margin-left: -69px;
    z-index: 1;
}

.site-navigation-item {
    width: 238px;
    height: 42px;
    
    display: inline-block;
    text-align: center;
    padding-top: 14px;
}

.site-navigation-item:nth-child(2) {
    margin-right: 237px;
}

.clicking:hover,
.clicking:focus {
    color: var(--blue);
}

.clicking:active {
    color: var(--opacity-black);
}

.active {
    color: var(--brown);
}

.welcome-slogan {
    min-height: 505px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--blue-light);
    background-image: url(../img/background.jpg);
}

.advantage-text {
    line-height: 26px;
}

.advantage-title {
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.advantage-item {
    background-color: var(--gray-light);
}

.blue-block {
    color: var(--basic-white);
    background-color: var(--blue);
}

.advantage-item h3 {
    font-size: 21px;
    font-weight: 700;
}

.possibility-list {
    color: var(--black-light);
    background-color: var(--basic-white);
}

.hotel-search p {
    line-height: 24px;
}

.hotel-search-title {
    font-size: 30px;
    font-weight: 700;
}

.button-brown,
.button-brown {
    color: var(--basic-white);
    background-color: var(--brown);
}

.button-brown:hover,
.button-brown:focus,
.button-brown:hover,
.button-brown:focus {
    background-color: var(--brown-medium);
}

.button-brown:active,
.button-brown:active {
    color: var(--opacity-white);
    background-color: var(--brown-dark);
}

.button-blue {
    color: var(--basic-white);
    background-color: var(--blue);
}

.button-blue:hover,
.button-blue:focus {
    background-color: var(--blue-medium);
}

.button-blue:active {
    color: var(--opacity-white);
    background-color: var(--blue-dark);
}

.map {
    height: 594px;
    background-image: url(../img/map.jpg);
}

.main-footer {
    background-color: var(--background-footer);
}

.contacts-phone {
    color: inherit;
}

.footer-copyright-link {
    fill: var(--black-medium);
}

.footer-copyright-link:hover,
.footer-copyright-link:focus {
    fill: var(--blue);
}

.footer-copyright-link:active {
    fill: var(--active-footer-logo);
}

.hotel-filter {
    height: 217px;
    background-color: var(--blue);
    background-image: url(../img/background2.jpg);
}

.border-bottom {
    border-bottom: 1px solid #eee;
}

.sort-filter-results {
    font-size: 21px;
    line-height: 26px; 
    font-weight: 700;
    color: var(--basic-black); 
}

.sort-filter-text {
    font-size: 12px;
    line-height: 18px;
    color: var(--basic-black); 
}

.sort-filter a {
    font-size: 12px;
    line-height: 18px;
    color: var(--opacity-black);
}

.sort-filter a:hover,
.sort-filter a:focus {
    color: var(--blue);
}

.sort-filter a:active {
    color: var(--basic-black);
}

.result-search-item {
    font-size: 14px;
    line-height: 21px;
}

.result-search-item h3{
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
}

.rating {
    color: var(--black-neutral);
    background-color: var(--background-gray);
}

